@using PinturaImageEditor.Data
@using static PinturaImageEditor.Components.Dialog.DialogImageEditor
<div>
	<RadzenCard Style="@GetStyle(Img.Url)" class="card-img-hover">
		<RadzenStack Style="position: absolute;" class="img-btn" Orientation="Orientation.Horizontal">
			<ImageSelect Src="@Img.Url" Icon="edit" OnSave="((s) => OnEdit.InvokeAsync(new ImgCardEvent() { Img = Img, Data = s }))" Size="ButtonSize.ExtraSmall" />
			<RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.ExtraSmall" Click="(() => OnRemove.InvokeAsync(Img))" />
		</RadzenStack>
	</RadzenCard>
</div>
@code {
	[Parameter] public ArchiveModel Img { get; set; }
	[Parameter] public EventCallback<ImgCardEvent> OnEdit { get; set; }
	[Parameter] public EventCallback<ArchiveModel> OnRemove { get; set; }
	string GetStyle(string url)
	{
		return $"background-image: url({url});";
	}


	public class ImgCardEvent
	{
		public ArchiveModel Img { get; set; }
		public DialogImageResult Data { get; set; }
	}
}

